@use 'Bootstrap/bootstrap-utilities.scss';
@import '_common.scss';
@import '_colors.scss';
@import '_values.scss';

body {
    background-color: $background-color;

    &.caterpillar {
        // header {
        //     .navbar {
        //         &.fixed-top {
        //             font-size: 1.5rem;
        //         }
        //     }
        // }

        main {
            margin: {
                top: $top-navbar-height;
                left: $left-aside-width;
            }
        }

        aside {
            &.navbar {
                &.fixed-left {
                    position: fixed;
                    width: $left-aside-width;
                    height: calc(100vh - #{$top-navbar-height});

                    .nav {
                        width: 100%;

                        .nav-link:not(.nav-link-default) {
                            cursor: pointer;
                        }
                        .nav-link.nav-link-default {
                            cursor: default;
                        }
                    }
                }
            }
        }
    }

    &.caterpillar-default {
        header {
            .navbar {
                &.fixed-top {
                    background-image: linear-gradient(0deg, lighten($official-bgcolor, 2.5%), lighten($official-bgcolor, 20%));
                    color: bootstrap-utilities.$white;
                }
            }
        }

        aside {
            &.navbar {
                &.fixed-left {
                    background-image: linear-gradient(95deg, $left-aside-bgcolor, $left-aside-bgcolor-end);

                    .nav {
                        .nav-link {
                            color: $left-aside-fgcolor;

                            &.active {
                                color: darken($left-aside-fgcolor, 33.333333%);
                                background-color: transparentize($left-aside-fgcolor, 0.6);
                            }

                            &:not(.active):not(.nav-link-default):hover {
                                color: darken($left-aside-fgcolor, 10%);
                            }
                        }
                    }
                }
            }
        }
    }

    .content {
        font-size: 1.2em;

        .container, .container-fluid {
            .row {
                height: 3rem;
            }

            .thead {
                .row {
                    background-color: desaturate(darken($background-color, 25%), 10%);
                }
            }

            .tbody {
                .row:hover {
                    background-color: transparentize(darken($background-color, 20%), 0.5);
                }
            }
        }

        .borrow-hint {
            & {
                color: inherit;
            }
            &-safe {
                color: #a3a3ff;
                .borrowed-number, .borrowable-number {
                    color: #0000ff;
                }
            }
            &-danger {
                color: #ffa7a7;
                .borrowed-number, .borrowable-number {
                    color: #ff0000;
                }
            }
        }
    }
}