@use 'Bootstrap/bootstrap-utilities.scss';
@import '_common.scss';
@import '_colors.scss';
@import '_values.scss';

body {
    background-color: $background-color;

    .btn-text-center {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center !important;
        align-items: center !important;
    }

    &.caterpillar {
        // header {
        //     .navbar {
        //         &.fixed-top {
        //             font-size: 1.5rem;
        //         }
        //     }
        // }

        main {
            margin: {
                top: $top-navbar-height;
                left: $left-aside-width;
            }
        }

        aside {
            &.navbar {
                &.fixed-left {
                    position: fixed;
                    width: $left-aside-width;
                    height: calc(100vh - #{$top-navbar-height});

                    .nav {
                        width: 100%;

                        .nav-link:not(.nav-link-default) {
                            cursor: pointer;
                        }
                        .nav-link.nav-link-default {
                            cursor: default;
                        }
                    }
                }
            }
        }
    }

    &.caterpillar-default {
        header {
            .navbar {
                &.fixed-top {
                    background-image: linear-gradient(0deg, lighten($official-bgcolor, 2.5%), lighten($official-bgcolor, 20%));
                    color: bootstrap-utilities.$white;
                }
            }
        }

        aside {
            &.navbar {
                &.fixed-left {
                    background-image: linear-gradient(95deg, $left-aside-bgcolor, $left-aside-bgcolor-end);

                    .nav {
                        .nav-link {
                            color: $left-aside-fgcolor;

                            &.active {
                                color: darken($left-aside-fgcolor, 33.333333%);
                                background-color: transparentize($left-aside-fgcolor, 0.6);
                            }

                            &:not(.active):not(.nav-link-default):hover {
                                color: darken($left-aside-fgcolor, 10%);
                            }
                        }
                    }
                }
            }
        }
    }

    .content {
        @media screen and (min-width: 1920px) {
            font-size: 1.2em;
        }
        @media (max-width: 1919px) {
            font-size: 1em;
        }

        .container, .container-fluid {
            .row {
                // height: 3rem;
                height: max-content;
            }

            .thead {
                .row {
                    background-color: desaturate(darken($background-color, 25%), 10%);
                }
            }
            .tbody {
                .info-container {
                    &:hover {
                        background-color: transparentize(darken($background-color, 20%), 0.5);
                    }
                }
            }

            .table {
                .th {
                    font-weight: bold;
                }

                .data-column {
                    display: flex !important;
                    align-items: center !important;
                }
            }

            .form {
                .form-column {
                    height: 100% !important;
                    display: flex !important;
                    flex-wrap: wrap;
                    justify-content: center !important;
                    align-items: center !important;
                }
            }

            .message-field {
                .message-column {
                    display: flex !important;
                    align-items: center !important;
                }
            }
        }

        .page-circulation {
            .form {
                .form-column {
                    $fields:
                        'label'   7.25  10,
                        'input'  86.75  82,
                        'tail'    6      8;
                    @each $field, $wider-width, $narrower-width in $fields {
                        &.formcol-#{$field} {
                            flex: 0 0 auto;

                            @media screen and (min-width: 1920px) {
                                width: #{calc($wider-width * 1%)};
                            }
                            @media (max-width: 1919px) {
                                width: #{calc($narrower-width * 1%)};
                            }
                        }
                    }
                }
            }

            .table, .message-field {
                @media screen and (min-width: 1920px) {
                    font-size: 1rem;
                }
                @media (max-width: 1919px) {
                    font-size: 0.9rem;
                }
            }

            .message-field {
                .message-column {
                    $fields:
                        'body'  94  92  start,
                        'tail'   6   8  center;
                    @each $field, $wider-width, $narrower-width, $align in $fields {
                        &.msgcol-#{$field} {
                            flex: 0 0 auto;
                            justify-content: $align !important;

                            @media screen and (min-width: 1920px) {
                                width: #{calc($wider-width * 1%)};
                            }
                            @media (max-width: 1919px) {
                                width: #{calc($narrower-width * 1%)};
                            }
                        }
                    }
                }

                .borrow-hint {
                    & {
                        color: inherit;
                    }
                    &-safe {
                        color: #a3a3ff;
                        .borrowed-number, .borrowable-number {
                            color: #0000ff;
                        }
                    }
                    &-danger {
                        color: #ffa7a7;
                        .borrowed-number, .borrowable-number {
                            color: #ff0000;
                        }
                    }
                }

                .returned-book {
                    &-info {
                        color: #058105;
                    }
                    &-borrower {
                        color: #4a4af8;
                        font-weight: bold;
                    }
                }
            }

            .table {
                @media screen and (min-width: 1920px) {
                    font-size: 1rem;
                }
                @media (max-width: 1919px) {
                    font-size: 0.9rem;
                }

                .data-column {
                    $fields:
                        'book-no'       5     6.5  center,
                        'book-name'    20    14.5  start,
                        'author'        9.5   9    start,
                        'illustrator'   9.5   9    start,
                        'editor'        9.5   9    start,
                        'translator'    9.5   9    start,
                        'publisher'     9.5   9    center,
                        'category'      7.5   6    center,
                        'location'      5     6    center,
                        'borrowed-at'  10    13.5  center,
                        'function'      5     8    center;
                    @each $field, $wider-width, $narrower-width, $align in $fields {
                        &.data-#{$field} {
                            flex: 0 0 auto;

                            @media screen and (min-width: 1920px) {
                                width: #{calc($wider-width * 1%)};
                            }
                            @media (max-width: 1919px) {
                                width: #{calc($narrower-width * 1%)};
                            }

                            &.th {
                                justify-content: center !important;
                            }
                            &.td {
                                justify-content: $align !important;
                            }
                        }
                    }
                }
            }
        }


        .page-book {
            .form {
                .form-column {
                    $fields:
                        'trunk'  94  92,
                        'side'    6   8,

                        'label'   7  10,
                        'input'  93  90;
                    @each $field, $wider-width, $narrower-width in $fields {
                        &.formcol-#{$field} {
                            flex: 0 0 auto;

                            @media screen and (min-width: 1920px) {
                                width: #{calc($wider-width * 1%)};
                            }
                            @media (max-width: 1919px) {
                                width: #{calc($narrower-width * 1%)};
                            }
                        }
                    }
                }
            }

            .table {
                @media screen and (min-width: 1920px) {
                    font-size: 1rem;
                }
                @media (max-width: 1919px) {
                    font-size: 0.9rem;
                }

                .data-column {
                    // $fields:
                    //     'book-no'       5   7  center,
                    //     'book-name'    21  16  start,
                    //     'author'       10  10  start,
                    //     'illustrator'  10  10  start,
                    //     'editor'       10  10  start,
                    //     'translator'   10  10  start,
                    //     'publisher'    10  10  center,
                    //     'category'      8   9  center,
                    //     'location'      7   8  center,
                    //     'function'      9  10  center;
                    $fields:
                        'work'          8    12    center,
                        'book-no'       5     7    center,
                        'book-name'    22    15    start,
                        'author'       11.4  10.8  start,
                        'illustrator'  11.4  10.8  start,
                        'editor'       11.4  10.8  start,
                        'translator'   11.4  10.8  start,
                        'publisher'    11.4  10.8  center,
                        'function'      8    12    center;
                    @each $field, $wider-width, $narrower-width, $align in $fields {
                        &.data-#{$field} {
                            flex: 0 0 auto;

                            @media screen and (min-width: 1920px) {
                                width: #{calc($wider-width * 1%)};
                            }
                            @media (max-width: 1919px) {
                                width: #{calc($narrower-width * 1%)};
                            }

                            &.th {
                                justify-content: center !important;
                            }
                            &.td {
                                justify-content: $align !important;
                            }
                        }
                    }
                }
            }
        }

        .page-book-list {
            .tbody {
                $gutter-x: 1.5rem;    // --bs-gutter-x: 1.5rem
                .info-container {
                    margin: {
                        left: calc($gutter-x * -.5);
                        right: calc($gutter-x * -.5);
                    };
                    padding: {
                        left: calc($gutter-x / 6);
                        right: calc($gutter-x / 6);
                    };
                }

                .detail-info-container {
                    padding: {
                        top: 3px;
                        left: 1.25rem;
                        right: 1.25rem;
                    }

                    .detail-info-table {
                        width: 100% !important;

                        >.tr:not(:first-child) {
                            padding: {
                                top: 4px;
                            }
                        }

                        .label-column {
                            background-color: transparentize(gray, 0.6);
                            font-weight: 700;
                            text-align: center;
                        }

                        $fields:
                            'label-book-oriname'   9   9  center,
                            'info-book-oriname'   57  56  start,
                            'label-book-series'    9  10  center,
                            'info-book-series'    25  25  start,

                            'label-book-edition'   9   9    center,
                            'info-book-edition'   24  23.5  center,
                            'label-book-print'     9   9    center,
                            'info-book-print'     24  23.5  center,
                            'label-publish-date'   9  10    center,
                            'info-publish-date'   25  25    center,

                            'label-isn'        9   9  center,
                            'info-isn'        16  16  center,
                            'label-ean'        9   9  center,
                            'info-ean'        16  16  center,
                            'label-category'   9   9  center,
                            'info-category'   16  16  center,
                            'label-location'   9   9  center,
                            'info-location'   16  16  center;
                        @each $field, $wider-width, $narrower-width, $align in $fields {
                            .#{$field} {
                                flex: 0 0 auto;
                                display: flex !important;
                                justify-content: $align !important;
                                align-items: center !important;
                                word-wrap: break-word;
                                word-break: break-all;
                                padding: 4px 6px;
    
                                @media screen and (min-width: 1920px) {
                                    width: #{calc($wider-width * 1%)};
                                }
                                @media (max-width: 1919px) {
                                    width: #{calc($narrower-width * 1%)};
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
