@use 'Bootstrap/bootstrap-utilities.scss';
@import '_common.scss';
@import '_colors.scss';
@import '_values.scss';

body {
    background-color: $background-color;

    &.caterpillar {
        // header {
        //     .navbar {
        //         &.fixed-top {
        //             font-size: 1.5rem;
        //         }
        //     }
        // }

        main {
            margin: {
                top: $top-navbar-height;
                left: $left-aside-width;
            }
        }

        aside {
            &.navbar {
                &.fixed-left {
                    position: fixed;
                    width: $left-aside-width;
                    height: calc(100vh - #{$top-navbar-height});

                    .nav {
                        width: 100%;

                        .nav-link:not(.nav-link-default) {
                            cursor: pointer;
                        }
                        .nav-link.nav-link-default {
                            cursor: default;
                        }
                    }
                }
            }
        }
    }

    &.caterpillar-default {
        header {
            .navbar {
                &.fixed-top {
                    background-image: linear-gradient(0deg, lighten($official-bgcolor, 2.5%), lighten($official-bgcolor, 20%));
                    color: bootstrap-utilities.$white;
                }
            }
        }

        aside {
            &.navbar {
                &.fixed-left {
                    background-image: linear-gradient(95deg, $left-aside-bgcolor, $left-aside-bgcolor-end);

                    .nav {
                        .nav-link {
                            color: $left-aside-fgcolor;

                            &.active {
                                color: darken($left-aside-fgcolor, 33.333333%);
                                background-color: transparentize($left-aside-fgcolor, 0.6);
                            }

                            &:not(.active):not(.nav-link-default):hover {
                                color: darken($left-aside-fgcolor, 10%);
                            }
                        }
                    }
                }
            }
        }
    }

    .content {
        @media screen and (min-width: 1920px) {
            font-size: 1.2em;
        }
        @media (max-width: 1919px) {
            font-size: 1em;
        }

        .container, .container-fluid {
            .row {
                // height: 3rem;
                height: max-content;
            }

            .thead {
                .row {
                    background-color: desaturate(darken($background-color, 25%), 10%);
                }
            }
            .tbody {
                .row:hover {
                    background-color: transparentize(darken($background-color, 20%), 0.5);
                }
            }

            .table {
                .data-column {
                    display: flex !important;
                    align-items: center !important;
                }
            }

            .form {
                .form-column {
                    height: 100% !important;
                    display: flex !important;
                    justify-content: center !important;
                    align-items: center !important;
                }
            }

            .message-field {
                .message-column {
                    display: flex !important;
                    align-items: center !important;
                }
            }
        }

        .page-circulation {
            .form {
                .form-column {
                    $fields:
                        'label'   7.25  10,
                        'input'  86.75  82,
                        'tail'    6      8;
                    @each $field, $wider-width, $narrower-width in $fields {
                        &.formcol-#{$field} {
                            flex: 0 0 auto;

                            @media screen and (min-width: 1920px) {
                                width: #{calc($wider-width * 1%)};
                            }
                            @media (max-width: 1919px) {
                                width: #{calc($narrower-width * 1%)};
                            }
                        }
                    }
                }
            }

            .table, .message-field {
                @media screen and (min-width: 1920px) {
                    font-size: 1rem;
                }
                @media (max-width: 1919px) {
                    font-size: 0.9rem;
                }
            }

            .message-field {
                .message-column {
                    $fields:
                        'body'  94  92  start,
                        'tail'   6   8  center;
                    @each $field, $wider-width, $narrower-width, $align in $fields {
                        &.msgcol-#{$field} {
                            flex: 0 0 auto;
                            justify-content: $align !important;

                            @media screen and (min-width: 1920px) {
                                width: #{calc($wider-width * 1%)};
                            }
                            @media (max-width: 1919px) {
                                width: #{calc($narrower-width * 1%)};
                            }
                        }
                    }
                }

                .borrow-hint {
                    & {
                        color: inherit;
                    }
                    &-safe {
                        color: #a3a3ff;
                        .borrowed-number, .borrowable-number {
                            color: #0000ff;
                        }
                    }
                    &-danger {
                        color: #ffa7a7;
                        .borrowed-number, .borrowable-number {
                            color: #ff0000;
                        }
                    }
                }

                .returned-book {
                    &-info {
                        color: #058105;
                    }
                    &-borrower {
                        color: #4a4af8;
                        font-weight: bold;
                    }
                }
            }

            .table {
                @media screen and (min-width: 1920px) {
                    font-size: 1rem;
                }
                @media (max-width: 1919px) {
                    font-size: 0.9rem;
                }

                .data-column {
                    $fields:
                        'book-no'       5     6.5  center,
                        'book-name'    20    14.5  start,
                        'author'        9.5   9    start,
                        'illustrator'   9.5   9    start,
                        'editor'        9.5   9    start,
                        'translator'    9.5   9    start,
                        'publisher'     9.5   9    center,
                        'category'      7.5   6    center,
                        'location'      5     6    center,
                        'borrowed-at'  10    13.5  center,
                        'function'      5     8    center;
                    @each $field, $wider-width, $narrower-width, $align in $fields {
                        &.data-#{$field} {
                            flex: 0 0 auto;

                            @media screen and (min-width: 1920px) {
                                width: #{calc($wider-width * 1%)};
                            }
                            @media (max-width: 1919px) {
                                width: #{calc($narrower-width * 1%)};
                            }

                            &.th {
                                justify-content: center !important;
                            }
                            &.td {
                                justify-content: $align !important;
                            }
                        }
                    }
                }
            }
        }
    }
}